.module--pointer {
  backface-visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-5px) translateY(-5px) translateZ(0) scale(1);
  transform-origin: center center;
  width: 10px;
  height: 10px;
  border-radius: 360px;
  z-index: 9999999;
  background: $black;
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);

  .is--hover__link & {
  	background: $purple;
  }

  .is--hover__next & {
  	background: #ff00ff;
  }

  .is--hover__prev & {
  	background: #ff0000;
  }

  @include breakpoints(tablet){
  	display: none;
  }
}


.module--mobile_modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  color: $white;
  display: none;

  @include breakpoints(tablet){
    display: block;
  }

  .enable--mobile_modal & {
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $black;
    opacity: 0.9;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
}

.module--mobile_modal--content {
  position: relative;
  z-index: 10;
  height: 100vh;
  overflow: auto;

  @include breakpoints(tablet){
    padding: 60px;
    height: calc( 100vh - 50px);
  }

  @include breakpoints(mobileonly){
    padding: 50px 90px 0 20px;
    height: calc( 100vh - 50px);
  }

  > .row {
    position: relative;
    display: flex;
    padding: 0;
    justify-content: center;

    .col:first-child {
      width: calc(100% - 260px);
      padding-right: 115px;
      @include breakpoints(tablet){
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0;
      }
    }
    .col:last-child {
      width: 260px;
      padding-left: 0;

      @include breakpoints(tablet){
        width: 100%;
        padding-left: 0;
        max-width: 100%;
      }
    }
  }

  h3 {
    margin-bottom: 6px;
    @include remy(14);
    line-height: 1.28;
    text-transform: uppercase;
  }

  p {
    @include remy(33);
    letter-spacing: -0.589px;
    line-height: 1.06;


  }

  ul {
    @include remy(14);
    line-height: 1.28;
    margin-bottom: 50px;
  }
}
